@import './variables.scss';

@mixin flexo($dir: flex, $align: center, $justify: space-between) {
    display: $dir;
    align-items: $align;
    justify-content: $justify;
}

@mixin flex( $align: center) {
    display: flex;
    align-items: $align;
}

@mixin text($size: $md, $color: $title-color, $weight: $md-weight){
    font-size: $size;;
    color: $color;
    font-weight: $weight;
}



