@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;

}

.te__container {
  max-width: 1168px;
  padding-inline: 1rem;
  margin: 0 auto;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-8px{
  margin-bottom: 8px;

}